<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Gallery</title>
</head>
<body bgcolor="#000000" text="#FFFFFF" link="#FFFFFF" vlink="#FFFFFF">
  <table width="100%%" border="0" cellspacing="0" cellpadding="6">
    <tr>
      <td><a href="%1$s"><font face="Arial, Helvetica" color="#FFFFFF">&lt; %2$s</font></a></td>
    </tr>
    <tr>
      <td height="10"></td>
    </tr>
  </table>
  %3$s
</body>
</html>