  <section class="boat-rudder__dashboard__settings-panel" data-component="%s" data-epoch="%s" data-theme="%s">
    <h2>%s</h2>
    <form method="POST" action="/dashboard/settings/themes/%s/%s/%s" class="boat-rudder__dashboard__form">
      <div class="boat-rudder__dashboard__form-row">
        <label for="logo-text-%s">Logo text</label>
        <input class="boat-rudder__dashboard__input" type="text" id="logo-text-%s" name="text" value="%s">
      </div>
      <button class="boat-rudder__dashboard__button" type="submit">Save</button>
    </form>
  </section>
