      <tr>
        <td class="boat-rudder-dashboard__thumb-cell"><img class="boat-rudder-dashboard__thumb" src="%s" alt=""></td>
        <td class="boat-rudder-dashboard__title-cell"><a href="/dashboard/entries/%s/edit">%s</a>%s <span class="boat-rudder-dashboard__badge boat-rudder-badge">%s</span></td>
        <td><div class="boat-rudder-dashboard__clamp">%s</div></td>
        <td>%s</td>
        <td class="boat-rudder-dashboard__nowrap">%s</td>
        <td class="boat-rudder-dashboard__categories">%s</td>
        <td>
          <div class="boat-rudder-dashboard__inline-form">
            <a class="boat-rudder-btn" href="/dashboard/entries/%s/edit">Edit</a>
            <a class="boat-rudder-btn" href="%s" target="_blank" rel="noopener">View</a>
%s
          </div>
        </td>
      </tr>
