      <tr>
        <td><img class="boat-rudder__dashboard__thumb" src="%s" alt=""></td>
        <td><a href="%s">%s</a></td>
        <td>%s</td>
        <td>%s</td>
        <td>%s</td>
        <td>%s</td>
        <td class="boat-rudder__dashboard__categories">%s</td>
        <td class="boat-rudder__dashboard__inline-form">
          <a class="boat-rudder__dashboard__button" href="/dashboard/entries/%s/edit">Edit</a>
          <form method="POST" action="/dashboard/entries/%s/delete">
            <button class="boat-rudder__dashboard__button" type="submit">Delete</button>
          </form>
        </td>
      </tr>
