      <tr>
        <td>%s</td>
        <td>%s</td>
        <td>No</td>
        <td class="boat-rudder__dashboard__inline-form">
          <form method="POST" action="/dashboard/languages/%s/default">
            <button class="boat-rudder__dashboard__button" type="submit">Make default</button>
          </form>
          <form method="POST" action="/dashboard/languages/%s/remove">
            <button class="boat-rudder__dashboard__button" type="submit">Remove</button>
          </form>
        </td>
      </tr>
