<a name="code-%6$s"></a>
<table width="100%%" border="0" cellspacing="0" cellpadding="5" >
  <tr><td height="6"></td></tr>
  <tr>
    <td align="center" bgcolor="#888888">
      <table border="0" width="100%%" cellspacing="0" cellpadding="5" bgcolor="%7$s">
          <tr>
            <td align="left" valign="center"><font color="#888888">Language: %3$s</font></td>
            <td align="right" valign="bottom"><form style="margin: 0;"><input type="button" value="%5$s" onClick="location.href='%4$s'"></form></td>
          </tr>
        <tr>
          <td style="color: %8$s;" colspan="2">
            <hr>
            <div style="max-height: 250px; overflow: scroll; height: expression(this.scrollHeight > 250 ? '250px' : 'auto');">
              <pre><code><font color="%8$s">%2$s</font></code></pre>
            </div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr><td height="6"></td></tr>
</table>
