<section class="boat-rudder-login__container">
  <h1 class="boat-rudder-login__header">Sign in</h1>
%s
  <form class="boat-rudder-login__form boat-rudder-card" method="POST" action="/login">
    <label for="user">Email</label>
    <input class="boat-rudder-login__input boat-rudder-input" type="email" id="user" name="user" required>

    <label for="password">Password</label>
    <input class="boat-rudder-login__input boat-rudder-input" type="password" id="password" name="password" required>

    <div class="boat-rudder-login__button-container">
      <button class="boat-rudder-login__button boat-rudder-btn boat-rudder-btn--primary" type="submit">Sign in</button>
    </div>
  </form>
</section>
